@font-face {
  font-family: 'Open Sans';
  src: url(../public/fonts/OpenSans.woff2) format('woff2-variations');
  font-weight: 300 800;
  font-style: oblique 0deg 20deg;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }
  body {
    min-width: 375px;
  }
}

@layer components {
  .bg-back {
    background-image: url(../public/img/background.png);
  }
}
